# Security
.env
.DS_Store

# Environments
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Database (We usually don't want local DBs on GitHub)
db.sqlite3

# --- FLUTTER IGNORES ---
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/